<form method="PUT" action="/books/<%= @params %>">
    <input type="text" name="book" placeholder="Change something!">
    <input type="submit" value="Submit">
</form>

<form method="DELETE" action="/books/<%= @params %>">
    <input type="submit" name="delete" value="Delete">
</form>