<!DOCTYPE html>
<html>
    <head>
        <meta charset="utf-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <title>Restful Controller App</title>
    </head>
    <body>
        <h1>Restful Controller App!</h1>
        <%= yield %>

    </body>
</html>